:root {

  --design-success-color: #008563;
  --design-success-color-10: #e6fff2;
  --design-success-color-9: #a8ffd5;
  --design-success-color-8: #80ffc6;
  --design-success-color-7: #57ffb9;
  --design-success-color-6: #2effaf;
  --design-success-color-5: #06f7a1;
  --design-success-color-4: #00d18f;
  --design-success-color-3: #00ab7a;
  --design-success-color-2: #008563;
  --design-success-color-1: #005e4a;
}