@prefix-inputText: ~'@{nameSpace}-inputText';

.@{prefix-inputText} {
  font-size: @design-font-size-14;
  color: @design-neutral-color-1;
  .flex();

  .@{prefix-inputText}-margin-left {
    margin-left: 16px;
  }

  .@{prefix-inputText}-margin-right {
    margin-right: 16px;
  }

  .@{prefix-inputText}-main {
    flex: 1;
    padding: 0 16px;
    .flex();
    .align-center();
  }

  .@{prefix-inputText}-border-color {
    border-color: @design-neutral-color-5;
  }

  .@{prefix-inputText}-border-top {
    border-top-width: @design-border-sm;
    border-top-style: solid;
  }

  .@{prefix-inputText}-border-bottom {
    border-bottom-width: @design-border-sm;
    border-bottom-style: solid;
  }

  .@{prefix-inputText}-border-right {
    border-right-width: @design-border-sm;
    border-right-style: solid;
  }

  .@{prefix-inputText}-border-left {
    border-left-width: @design-border-sm;
    border-left-style: solid;
  }
}