:root {
  --design-font-size-12: 12px;
  --design-font-size-14: 14px;
  --design-font-size-16: 16px;
  --design-font-size-18: 18px;
  --design-font-size-20: 20px;
  --design-font-size-22: 22px;
  --design-font-size-24: 24px;
}