@prefix-border: ~'@{nameSpace}-border';

.@{prefix-border}-color-default {
  border-color: var(--design-border-color-2);
}

.@{prefix-border}-color-base {
  border-color: var(--design-base-color);
}

.@{prefix-border}-color-success {
  border-color: var(--design-success-color);
}

.@{prefix-border}-color-error {
  border-color: var(--design-error-color);
}

.@{prefix-border}-color-warning {
  border-color: var(--design-warning-color);
}

.@{prefix-border}-sm {
  border-width: var(--design-border-sm);
}

.@{prefix-border}-base {
  border-width: var(--design-border-base);
}

.@{prefix-border}-bg {
  border-width: var(--design-border-lg);
}

.@{prefix-border}-top {
  border-top-style: solid;
}

.@{prefix-border}-bottom {
  border-bottom-style: solid;
}

.@{prefix-border}-right {
  border-right-style: solid;
}

.@{prefix-border}-left {
  border-left-style: solid;
}