@prefix-formItem: ~'@{nameSpace}-formItem';

.@{prefix-formItem} {
  display: grid;

  .@{prefix-formItem}-label {
    width: 100%;
    padding-right: 16px;
    .flex();
    .align-center();
  }

  .@{prefix-formItem}-label-text {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .@{prefix-formItem}-message {
    color: @design-neutral-color-2;
    font-weight: 200;
    font-size: @design-font-size-12;
  }

  .@{prefix-formItem}-message-row-column {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .@{prefix-formItem}-message-success {
    color: @design-success-color;
  }

  .@{prefix-formItem}-message-warning {
    color: @design-warning-color;
  }

  .@{prefix-formItem}-message-error {
    color: var(--design-error-color);
  }
}