@nameSpace: 'design';

@design-color-white: var(--design-color-white);
@design-color-black: var(--design-color-black);

@design-base-color: var(--design-base-color);
@design-base-color-1: var(--design-base-color-1);
@design-base-color-2: var(--design-base-color-2);
@design-base-color-3: var(--design-base-color-3);
@design-base-color-4: var(--design-base-color-4);
@design-base-color-5: var(--design-base-color-5);
@design-base-color-6: var(--design-base-color-6);
@design-base-color-7: var(--design-base-color-7);
@design-base-color-8: var(--design-base-color-8);
@design-base-color-9: var(--design-base-color-9);
@design-base-color-10: var(--design-base-color-10);

@design-error-color: var(--design-error-color);
@design-error-color-1: var(--design-error-color-1);
@design-error-color-2: var(--design-error-color-2);
@design-error-color-3: var(--design-error-color-3);
@design-error-color-4: var(--design-error-color-4);
@design-error-color-5: var(--design-error-color-5);
@design-error-color-6: var(--design-error-color-6);
@design-error-color-7: var(--design-error-color-7);
@design-error-color-8: var(--design-error-color-8);
@design-error-color-9: var(--design-error-color-9);
@design-error-color-10: var(--design-error-color-10);

@design-neutral-color: var(--design-neutral-color);
@design-neutral-color-1: var(--design-neutral-color-1);
@design-neutral-color-2: var(--design-neutral-color-2);
@design-neutral-color-3: var(--design-neutral-color-3);
@design-neutral-color-4: var(--design-neutral-color-4);
@design-neutral-color-5: var(--design-neutral-color-5);
@design-neutral-color-6: var(--design-neutral-color-6);
@design-neutral-color-7: var(--design-neutral-color-7);
@design-neutral-color-8: var(--design-neutral-color-8);
@design-neutral-color-9: var(--design-neutral-color-9);

@design-success-color: var(--design-success-color);
@design-success-color-1: var(--design-success-color-1);
@design-success-color-2: var(--design-success-color-2);
@design-success-color-3: var(--design-success-color-3);
@design-success-color-4: var(--design-success-color-4);
@design-success-color-5: var(--design-success-color-5);
@design-success-color-6: var(--design-success-color-6);
@design-success-color-7: var(--design-success-color-7);
@design-success-color-8: var(--design-success-color-8);
@design-success-color-9: var(--design-success-color-9);
@design-success-color-10: var(--design-success-color-10);

@design-warning-color: var(--design-warning-color);
@design-warning-color-1: var(--design-warning-color-1);
@design-warning-color-2: var(--design-warning-color-2);
@design-warning-color-3: var(--design-warning-color-3);
@design-warning-color-4: var(--design-warning-color-4);
@design-warning-color-5: var(--design-warning-color-5);
@design-warning-color-6: var(--design-warning-color-6);
@design-warning-color-7: var(--design-warning-color-7);
@design-warning-color-8: var(--design-warning-color-8);
@design-warning-color-9: var(--design-warning-color-9);
@design-warning-color-10: var(--design-warning-color-10);

@design-border-sm: var(--design-border-sm);
@design-border-base: var(--design-border-base);
@design-border-bg: var(--design-margin-bg);

@design-font-size-12: var(--design-font-size-12);
@design-font-size-14: var(--design-font-size-14);
@design-font-size-16: var(--design-font-size-16);
@design-font-size-18: var(--design-font-size-18);
@design-font-size-20: var(--design-font-size-20);
@design-font-size-22: var(--design-font-size-22);
@design-font-size-24: var(--design-font-size-24);


@design-margin-sm: var(--design-margin-sm);
@design-margin-base: var(--design-margin-base);
@design-margin-bg: var(--design-margin-bg);

@design-padding-sm: var(--design-padding-sm);
@design-padding-base: var(--design-padding-base);
@design-padding-bg: var(--design-padding-bg);