@nameSpace: 'design';

@design-neutral-color: var(--design-neutral-color);
@design-neutral-color-1: var(--design-neutral-color-1);
@design-neutral-color-2: var(--design-neutral-color-2);
@design-neutral-color-3: var(--design-neutral-color-3);
@design-neutral-color-4: var(--design-neutral-color-4);
@design-neutral-color-5: var(--design-neutral-color-5);
@design-neutral-color-6: var(--design-neutral-color-6);
@design-neutral-color-7: var(--design-neutral-color-7);
@design-neutral-color-8: var(--design-neutral-color-8);
@design-neutral-color-9: var(--design-neutral-color-9);
@design-neutral-color-10: var(--design-neutral-color-10);

@design-warning-color: var(--design-warning-color);
@design-warning-color-1: var(--design-warning-color-1);
@design-warning-color-2: var(--design-warning-color-2);
@design-warning-color-3: var(--design-warning-color-3);
@design-warning-color-4: var(--design-warning-color-4);
@design-warning-color-5: var(--design-warning-color-5);
@design-warning-color-6: var(--design-warning-color-6);
@design-warning-color-7: var(--design-warning-color-7);
@design-warning-color-8: var(--design-warning-color-8);
@design-warning-color-9: var(--design-warning-color-9);
@design-warning-color-10: var(--design-warning-color-10);

@design-border-sm: var(--design-border-sm);
@design-border-base: var(--design-border-base);
@design-border-bg: var(--design-margin-bg);

@design-font-size-12: var(--design-font-size-12);
@design-font-size-14: var(--design-font-size-14);
@design-font-size-16: var(--design-font-size-16);
@design-font-size-18: var(--design-font-size-18);
@design-font-size-20: var(--design-font-size-20);
@design-font-size-22: var(--design-font-size-22);
@design-font-size-24: var(--design-font-size-24);