@import './reset.less';
@import '/public/icons/css.css';
@import '/public/theme/index.css';

.app {
  color: #fff;
  box-sizing: border-box;

  min-height: 100vh;
  display: grid;
  grid-template-columns: 220px minmax(1200px, auto);

  .appContent {
    background: var(--design-neutral-color-7);
    overflow: auto;
    height: 100vh;
  }
}