@import './reset.less';
@import '/public/icons/css.less';
.app {
  color: #fff;
  box-sizing: border-box;
  background: #000;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .exemple {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .tabsExemple {
    width: 600px;
  }
}