@prefix-button: ~'@{nameSpace}-button';

.@{prefix-button} {
  display: inline-block;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: @design-neutral-color ;
  cursor: pointer;
  transition: all 0.2s;
  border: none;
  .not-user-select();
  border-width: @design-border-sm;
  border-style: solid;
}

.@{prefix-button}-status-default {
  background-color: transparent;
  color: var(--design-base-color);
  border-color: var(--design-base-color);

  &:hover {
    background-color: var(--design-base-color-10);
  }
}

.@{prefix-button}-status-success {
  background-color: transparent;
  color: @design-success-color;
  border-color: @design-success-color;

  &:hover {
    background-color: var(--design-error-color-10);
  }
}

.@{prefix-button}-status-error {
  background-color: transparent;
  color: var(--design-error-color);
  border-color: var(--design-error-color);

  &:hover {
    background-color: var(--design-error-color-10);
  }
}

.@{prefix-button}-status-warning {
  background-color: transparent;
  color: @design-warning-color;
  border-color: @design-warning-color;

  &:hover {
    background-color: @design-warning-color-10;
  }
}

.@{prefix-button}-size-small {
  padding: 0 10px;
  height: 24px;
}

.@{prefix-button}-size-default {
  padding: 0 14px;
  height: 32px;
}

.@{prefix-button}-size-large {
  padding: 0 18px;
  height: 40px;
}


.@{prefix-button}-level-main {}

.@{prefix-button}-level-secondary {
  color: @design-neutral-color-2;
  border-color: @design-neutral-color-2;

  &:hover {
    background-color: @design-neutral-color-5;
  }
}

.@{prefix-button}-level-white {
  color: @design-neutral-color;
  border-color: @design-neutral-color;

  &:hover {
    background-color: @design-neutral-color-5;
  }
}

.@{prefix-button}-disabled {
  background-color: @design-neutral-color-6  !important;
  color: @design-neutral-color-3;
  border-color: @design-neutral-color-3;
  cursor: not-allowed;
}

.@{prefix-button}-buttonShowType-text-base {
  background-color: transparent;
  height: unset;
  padding: 0;
  border: none;
}

.@{prefix-button}-buttonShowType-text {
  cursor: pointer;
  color: @design-neutral-color-1;

  &:hover {
    background-color: unset;
    color: var(--design-base-color);
  }
}

.@{prefix-button}-buttonShowType-text-disabled {
  cursor: not-allowed;
  background-color: transparent;
  height: unset;
  padding: 0;
  border: none;
  color: @design-neutral-color-2;
}

.@{prefix-button}-line-base {
  border-bottom-width: @design-border-sm;
  border-bottom-style: solid;
}

.@{prefix-button}-line-default {
  border-bottom-color: @design-neutral-color-1  !important;

  &:hover {
    border-bottom-color: var(--design-base-color) !important;
  }
}