@prefix-card: ~'@{nameSpace}-card';

.@{prefix-card} {
  font-size: var(--design-font-size-14);
  .flex();
  flex-direction: column;

  .@{prefix-card}-header {
    background-color: var(--design-neutral-color-7);
    border-bottom: var(--design-neutral-color-5) solid var(--design-border-sm);
    padding: 16px;
  }

  .@{prefix-card}-header-default {
    min-height: 40px;
    padding: 0 16px;
    background-color: var(--design-neutral-color-7);
    border-bottom: var(--design-neutral-color-5) solid var(--design-border-sm);
    .flex();
    .justify-between();
    .align-center();
  }

  .@{prefix-card}-footer {
    background-color: var(--design-neutral-color-7);
    border-top: var(--design-neutral-color-5) solid var(--design-border-sm);
    padding: 16px;
  }

  .@{prefix-card}-body {
    background-color: var(--design-neutral-color-8);
    padding: 16px;
    flex: 1;
  }

  .@{prefix-card}-status {
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }

  .@{prefix-card}-status-default {
    background-color: var(--design-base-color);
  }

  .@{prefix-card}-status-success {
    background-color: var(--design-success-color);
  }

  .@{prefix-card}-status-error {
    background-color: var(--design-error-color);
  }

  .@{prefix-card}-status-warning {
    background-color: var(--design-warning-color);
  }
}

.@{prefix-card}-border-top {
  border-top: var(--design-neutral-color-5) solid var(--design-border-sm);
}

.@{prefix-card}-border-bottom {
  border-bottom: var(--design-neutral-color-5) solid var(--design-border-sm);
}

.@{prefix-card}-border-right {
  border-right: var(--design-neutral-color-5) solid var(--design-border-sm);
}

.@{prefix-card}-border-left {
  border-left: var(--design-neutral-color-5) solid var(--design-border-sm);
}