@prefix-icon: ~'@{nameSpace}-icon';

.@{prefix-icon} {
  font-style: normal;
}
.@{prefix-icon}-default {
  // color: @design-neutral-color-1;
}
.@{prefix-icon}-primary {
  color: @design-base-color;
}
.@{prefix-icon}-success {
  color: @design-success-color;
}
.@{prefix-icon}-warning {
  color: @design-warning-color;
}
.@{prefix-icon}-error {
  color: @design-error-color;
}
