@prefix-icon: ~'@{nameSpace}-icon';

.@{prefix-icon} {
  font-style: normal;
  font-size: 14;
}

.@{prefix-icon}-default {
  // color: var(--design-neutral-color-1);
}

.@{prefix-icon}-primary {
  color: var(--design-base-color);
}

.@{prefix-icon}-success {
  color: var(--design-successs-color);
}

.@{prefix-icon}-warning {
  color: var(--design-warning-color);
}

.@{prefix-icon}-error {
  color: var(--design-error-color);
}