@prefix-text: ~'@{nameSpace}-text';

.@{prefix-text} {
  // text-decoration: line-through;
  display: inline-block;
  width: inherit;
  height: inherit;
}

.@{prefix-text}-copyable {
  // text-decoration: line-through;
  margin-left: 4px;
  .cursor-pointer();
  padding: 0 4px;

  &:hover {
    border-radius: 2px;
    background-color: var(--design-bg-color-1);
  }
}

.@{prefix-text}-underline {
  text-decoration: underline;
}

.@{prefix-text}-delete {
  text-decoration: line-through;
}

.@{prefix-text}-mark {
  color: var(--design-neutral-color-5);
}