@prefix-text: ~'@{nameSpace}-text';

.@{prefix-text} {
  // text-decoration: line-through;
}

.@{prefix-text}-underline {
  text-decoration: underline;
}

.@{prefix-text}-delete {
  text-decoration: line-through;
}

.@{prefix-text}-mark {
  color: @design-neutral-color-5;
}

.@{prefix-text}-level-1 {
  font-size: var(--design-font-size-24);
  font-weight: 600;

}

.@{prefix-text}-level-2 {
  font-size: var(--design-font-size-18);
  font-weight: 500;
}

.@{prefix-text}-level-3 {
  font-size: var(--design-font-size-14);
  font-weight: 400;
}

.@{prefix-text}-level-4 {
  font-size: var(--design-font-size-12);
  font-weight: 300;
}