@prefix-font: ~'@{nameSpace}-font';

.@{prefix-font}-base {
  font-family: var(--design-base);
}

.@{prefix-font}-special-number {
  font-family: var(--design-special-number);
}

.@{prefix-font}-special-en {
  font-family: var(--design-special-en);
}

.@{prefix-font}-default {
  color: @design-neutral-color-1;
}

.@{prefix-font}-secondary {
  color: @design-neutral-color-2;
}

.@{prefix-font}-base {
  color: @design-base-color;
}

.@{prefix-font}-success {
  color: @design-success-color;
}

.@{prefix-font}-warning {
  color: @design-warning-color;
}

.@{prefix-font}-error {
  color: @design-error-color;
}


.@{prefix-font}-level-1 {
  font-size: var(--design-font-size-24);
  font-weight: 600;
}

.@{prefix-font}-level-2 {
  font-size: var(--design-font-size-22);
  font-weight: 500;
}

.@{prefix-font}-level-3 {
  font-size: var(--design-font-size-20);
  font-weight: 400;
}

.@{prefix-font}-level-4 {
  font-size: var(--design-font-size-16);
  font-weight: 300;
}

.@{prefix-font}-level-5 {
  font-size: var(--design-font-size-14);
  font-weight: 200;
}

.@{prefix-font}-level-6 {
  font-size: var(--design-font-size-12);
  font-weight: 100;
}