.base-zh {
  font-family: var(--design-base-zh);
}
.base-en {
  font-family: var(--design-base-en);
}
.special-number {
  font-family: var(--design-special-number);
}
.special-en {
  font-family: var(--design-special-en);
}
