@prefix-padding: ~'@{nameSpace}-padding';

.@{prefix-padding}-bottom-sm {
  padding-bottom: 12px;
}

.@{prefix-padding}-bottom-base {
  padding-bottom: 16px;
}

.@{prefix-padding}-bottom-lg {
  padding-bottom: 20px;
}