@prefix-padding: ~'@{nameSpace}-padding';

.@{prefix-padding}-bottom-sm {
  padding-bottom: var(--design-padding-sm);
}

.@{prefix-padding}-bottom-base {
  padding-bottom: var(--design-padding-base);
}

.@{prefix-padding}-top-lg {
  padding-top: var(--design-padding-lg);
}

.@{prefix-padding}-top-sm {
  padding-top: var(--design-padding-sm);
}

.@{prefix-padding}-top-base {
  padding-top: var(--design-padding-base);
}

.@{prefix-padding}-right-lg {
  padding-right: var(--design-padding-lg);
}

.@{prefix-padding}-right-sm {
  padding-right: var(--design-padding-sm);
}

.@{prefix-padding}-right-base {
  padding-right: var(--design-padding-base);
}

.@{prefix-padding}-left-lg {
  padding-left: var(--design-padding-lg);
}

.@{prefix-padding}-left-sm {
  padding-left: var(--design-padding-sm);
}

.@{prefix-padding}-left-base {
  padding-left: var(--design-padding-base);
}

.@{prefix-padding}-bottom-lg {
  padding-bottom: var(--design-padding-lg);
}