:root {
  --design-bg-color-5: #000000;
  --design-bg-color-4: #0A0A0A;
  --design-bg-color-3: #141414;
  --design-bg-color-2: #1F1F1F;
  --design-bg-color-1: #2b2b2b;

  /* --design-bg-color-5: #ffffff;
  --design-bg-color-4: #fafafa;
  --design-bg-color-3: #fcfcfc;
  --design-bg-color-2: #fefefe;
  --design-bg-color-1: #f3f3f3; */
}