:root {
  --design-error-color: #FF483D;
  --design-error-color-1: #fff3f0;
  --design-error-color-2: #ffe6e0;
  --design-error-color-3: #ffc2b8;
  --design-error-color-4: #ff9c8f;
  --design-error-color-5: #ff7366;
  --design-error-color-6: #ff483d;
  --design-error-color-7: #d92c29;
  --design-error-color-8: #b3191c;
  --design-error-color-9: #8c0d13;
  --design-error-color-10: #660810;

  /* --design-error-color: #FF483D;
  --design-error-color-10: #fff3f0;
  --design-error-color-9: #ffe6e0;
  --design-error-color-8: #ffc2b8;
  --design-error-color-7: #ff9c8f;
  --design-error-color-6: #ff7366;
  --design-error-color-5: #ff483d;
  --design-error-color-4: #d92c29;
  --design-error-color-3: #b3191c;
  --design-error-color-2: #8c0d13;
  --design-error-color-1: #660810; */
}