:root {
  --design-warning-color: #FF9900;
  --design-warning-color-1: #fff9e6;
  --design-warning-color-2: #ffe7a3;
  --design-warning-color-3: #ffd77a;
  --design-warning-color-4: #ffc552;
  --design-warning-color-5: #ffb029;
  --design-warning-color-6: #ff9900;
  --design-warning-color-7: #d97b00;
  --design-warning-color-8: #b35f00;
  --design-warning-color-9: #8c4600;
  --design-warning-color-10: #663000;

  /* --design-warning-color: #FF9900;
  --design-warning-color-10: #fff9e6;
  --design-warning-color-9: #ffe7a3;
  --design-warning-color-8: #ffd77a;
  --design-warning-color-7: #ffc552;
  --design-warning-color-6: #ffb029;
  --design-warning-color-5: #ff9900;
  --design-warning-color-4: #d97b00;
  --design-warning-color-3: #b35f00;
  --design-warning-color-2: #8c4600;
  --design-warning-color-1: #663000; */
}