/* 基本主题色 */
:root {
  --design-base-color: #007e8c;
  --design-base-color-10: #e6fffb;
  --design-base-color-9: #bafff6;
  --design-base-color-8: #91fff4;
  --design-base-color-7: #69fff5;
  --design-base-color-6: #40fff9;
  --design-base-color-5: #18fefe;
  --design-base-color-4: #09d2d9;
  --design-base-color-3: #00a7b3;
  --design-base-color-2: #007e8c;
  --design-base-color-1: #005866;
}